<%inherit file="/base/interaction.html"/>
<%def name="body()">


<script type="text/javascript" src="/lib/jquery-1.3.2.min.js"></script>
<script type="text/javascript" src="/lib/ui.core.js"></script>
<script type="text/javascript" src="/lib/ui.draggable.js"></script>
<script type="text/javascript" src="/lib/ui.droppable.js"></script>
<script type="text/javascript" src="/lib/tlm/telemetryStream.js"></script>
<div align='center' style='width:100%;padding:pt;margin:0pt;margin-top:7pt'>
  <h3 style='padding:0pt;margin:0pt;color:white'>Scenario "${c.scenario} version ${c.version}"</h3>
  <div id='controls' name='controls'>
     <table style='background-color:tan'>
       <tbody>
          <tr>
             <td><a href='#' onClick="$.ajax({url:'/Scenario/start/${c.scenario}/${c.version}/1',
		                              success : function(js){eval(js);}});">Start</a></td>
             <td><a href='#' onClick="$.ajax({url:'/Scenario/stop/${c.scenario}/${c.version}/1'});">Stop</a></td>
             <td><a href='#' onClick="$.ajax({url:'/Scenario/pause/${c.scenario}/${c.version}/1'});">Pause</a></td>
          </tr>
       </tbody>
     </table>
  </div>
</div>
<p></p>
<div align='left' >
  <div id='basic_display' name='basic_display' style='padding:5pt;margin:0pt;position:relative;ypos:0pt'>
    <table border='2pt'  class='displayname'>
      <tbody>
        <tr><td>Time:</td><td><b id='time_field' name='time_field' style='background-color:black;color:tan'>-----------</b></td></tr>
        <tr><td>Format:</td><td><b id='format_field' name='format_field' style='background-color:black;color:tan'>default</b></td></tr>
      </tbody>
    </table>
  </div>
<table border='0pt'>
<tbody>
<tr>
<td>
  <div id='telemetrytabs' name='telemetrytabs' align='left' width='100%'>
    <ul id="tlmtabs" class='tabs' >
%for tab in c.tabs:
%if tab.name==c.selected:
      <li class='selectedtab' id="${tab.name}_tab" name='${tab.name}_tab' class='tabs'><a href="#" disabled>${tab.name}</a></li>
%else:
      <li class='tab' id="${tab.name}_tab" name='${tab.name}_tab' class='tabs'><a href="${h.url_for(controller='Scenario',action='display',display=c.display.name,scenario=c.scenario,version=c.version,tab=tab.name)}">${tab.name}</a></li>
%endif
%endfor
    </ul>
  ${c.tlmwindow}

   ${c.content}
  </div>
</td>
</tr>
</tbody>
</table>
</div>
<script>
 telemetrystreamframe.src='/Scenario/launch/${c.scenario}/${c.version}/1';
</script>
</%def>
<%def name="footer()">
</%def>
<%def name="title()">
Calypso: ${c.scenario} ${c.version}
</%def>
