  <div id='${c.formatview}_graphic' name='${c.formatview}' class='monitor_graphic' align='center' style='width:${c.properties.Width()};height:${c.properties.Height()}' >
 <script type="text/javascript">
calypso.tlm.${c.formatview}_Controller= function(parent){

	 var that=new Tile_Properties_Controller_Proxy(${c.x_pos},${c.y_pos});
	 that.parent=parent;
     plotattrs=new Array();
     plotattrs = {min:${c.properties.Min_Value()},
        max : ${c.properties.Max_Value()},
        width : ${c.properties.Width()},
        height : ${c.properties.Height()},
        yellowFrom : ${c.properties.Yellow_Mark()},
        yellowTo : ${c.properties.Red_Mark()},
        redFrom : ${c.properties.Red_Mark()},
        redTo : ${c.properties.Max_Value()},
        is3D : false};
     that.plot = new calypso.tlm.GaugeVisualization(parent,'${c.formatview}',plotattrs);

     %for mon in c.monitors:
       %if len(mon.attrs())==1 and mon.attrs()[0]==mon.get_name():
     that.plot.addMonitor(new calypso.tlm.visualizationMonitor("${mon.get_name()}"),"${mon.get_name()}","${mon.get_name()}","${mon.get_id()}");
       %else:
         %for  attr in mon.attrs():
     that.plot.addMonitor(new calypso.tlm.visualizationMonitor("${mon.get_name()}.${attr[0]}"),"${mon.get_name()}","${attr[0]}","${mon.get_id()}.${attr[1]}");
         %endfor
       %endif
     %endfor
     %if len(c.monitors)==0:
     that.plot.addMonitor(new calypso.tlm.visualizationMonitor("Placeholder"),"Example","Placeholder");
     that.plot.addMonitor(new calypso.tlm.visualizationMonitor("Placeholder2"),"Example","Placeholder2");
     %endif

     
     that.clone = function(parent){
       return  new calypso.tlm.${c.formatview}_Controller(parent);
     };
     
     that.draw=function(){
         this.plot.attrs.width=${c.properties.Width()};
         this.plot.attrs.height=${c.properties.Height()};
         this.plot.setVisible(true);
         this.plot.drawChart();
     };

   
   return that;
};

   </script>
</div>